# ESP-IDF
build/
managed_components/
sdkconfig.old
*.elf
*.bin
*.map

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log
